<h2>All Posts:</h2>

<ul>
	<% @posts.each do |post| %>
	<li><a href="/posts/<%=post.id %>"><%= post.title %></a></li>
	<% end %>
</ul>


	<form action="/show_by_tags" method="GET">
		<div>
			<input type="submit" value="Show list of all posts by tag">
		</div>

	</form>
