  <h1>Welcome to Ryan's Blog1!</h1>

<form action="/posts" method="GET">
  <div>
    <input type="submit" value="Show list of all posts">
  </div>
</form>

<form action="/new_post" method="GET">
  <div>
    <input type="submit" value="Create new post">
  </div>
</form>

