	<h3><!-- post title here --></h2>
	<p><!-- post body here --></p>
	<p><!-- post tags here --></p>

	<form action="/new_post" method="GET">
		<div>
			<input type="submit" value="Edit">
		</div>
	</form>

	<form action="/delete_post" method="POST">
		<div>
			<input type="submit" value="Delete">
		</div>
	</form>
