	<h3><%= @post.title %></h2>
	<p><%= @post.body %></p>
	<p><%= @post.tags %></p>

	<form action="/new_post" method="GET">
		<div>
			<input type="submit" value="Edit">
		</div>
	</form>

	<form action="/delete_post" method="POST">
		<div>
			<input type="submit" value="Delete">
		</div>
	</form>
